@import "tailwindcss";
@import "./stylesheet.css";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-poppins text-white bg-black;
  font-size: 0.875rem;
}

use {
  @apply w-full h-full
}

.container {
  @apply mx-auto px-4;
  max-width: 75rem;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 40px;
}

.undefined {
  outline: 2px solid red;
}